* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6eef8;
}

/* Estilos del contenedor del menú de navegación */

/* Estilo del Nav */
nav {
    background: #5680f1;
    padding: 15px 20px;
    position: relative;
    z-index: 10;
  }
  
  nav .container {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
  
  nav .logo img {
    height: 50px; 
    margin-top: 10px;
  }
  
  nav .menu-toggle {
    display: none; 
    font-size: 24px; 
    color: #fff; 
    cursor: pointer; 
    margin-top: 5px;
  }
  
  nav .nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav .nav li {
    margin-left: 50px;
    margin-top: 10px;
  }
  
  nav .nav a {
    padding: .5em .8em;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    transition: all .35s ease;
  }
  
  nav .nav a::before,
  nav .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  nav .nav a::before {
    right: 0;
    top: 0;
    border-top: 3px solid #1fcfcf;
    border-right: 3px solid #51f5f5;
    transform: translate(-100%, 50%);
  }
  
  nav .nav a::after {
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #1fcfcf;
    border-left: 3px solid #51f5f5;
    transform: translate(100%, -50%);
  }
  
  nav .nav a:hover:before,
  nav .nav a:hover:after {
    transform: translate(0,0);
    opacity: 1;
  }
  
  nav .nav a:hover {
    color: hsl(182, 96%, 68%);
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    nav .container {
      flex-direction: row; 
      justify-content: space-between; 
      padding: 0 20px; 
    }
  
    nav .menu-toggle {
      display: block;
      margin-left: auto;
    }
  
    nav .nav {
      display: none; 
      flex-direction: column; 
      width: 100%; 
      text-align: center; 
      background: #5680f1; 
      position: absolute; 
      top: 100%;
      left: 0; 
      z-index: 1000;
      padding: 15px 0; 
    }
  
    nav .nav.nav-active {
      display: flex; 
    }
  
    nav .nav li {
      margin: 10px 0; 
    }
    
    nav .nav a {
      padding: .5em .8em;
      color: #ffffff;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      transition: all .35s ease;
    }
  }

/*Estilo del main*/

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/*seccion mensaje*/

.seccionmensaje {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    margin: 0;
    background-color: #ffffff;
}
h1 {
    animation-duration: 3s;
    animation-name: slidein;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}
.mensaje {
    animation-duration: 3s;
    animation-name: slidein;
    font-size: 1rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}
.contenido-inferior {
    display: flex;
    flex-wrap: wrap;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

/* Estilos para la secciónformulario  que seria todo*/
.seccionformulario {
    background-image: url("./imagenes/geometric.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex: 1 1 100%;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid silver;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin: 0.5rem;
}

/*seccion datos de contacto*/
.contacto {
    flex: 1 1 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid silver;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    background: url("../assets/imagenes/mujer.jpeg") no-repeat;
    background-size: contain;
    background-position: right center;
    background-color: white;
    width: 100%;
}
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
p {
    font-size: 1rem;
}

/* Estilos base para el contenedor de imágenes */
.contenedor-imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para las imágenes dentro del contenedor */
.contenedor-imagenes img {
    width: auto;
    max-width: 45%;
    height: auto;
    margin: 10px;
}

/* aca empieza laparte del formulario y fondo */
/*seccion formulario*/

/* Estilos para los títulos h3 */
h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Estilos adicionales para los labels */
label {
    text-shadow: 1px 1px 1px #173cdfec;
    padding: 5px;
    font-size: x-large;
}

/* Estilos para el formulario */
.formulario {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 1px;
    font-size: large; /* Si cambias el tamaño de esto, cambia el título y la preferencia de horario */
}

/* Estilos para la lista de horarios de contacto */
.horario-contacto {
    list-style: none;
    padding: 0;
}

/* Estilos para los fieldsets */
fieldset {
    margin-bottom: 20px;
}

/* Estilos para los labels dentro del formulario */
.formulario label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para los inputs, selects y textarea dentro del formulario */
.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón dentro del formulario */
.formulario button {
    width: 50%;
    padding: 10px;
    background-color: #398f3c;
    color: white;
    border: 2px;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    cursor: pointer; /* Cursor indica que es clickable */
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave para hover */
}

/* Estilos para el botón al pasar el ratón */
.formulario button:hover {
    background-color: #7db880; /* Color más oscuro al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el ratón */
}

/* Estilos para el textarea dentro del formulario */
.formulario textarea {
    width: 100%;
    height: 200px;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

/*Estilos del footer*/
footer {
    margin-top: 0.2rem;
}

.fa-facebook-f {
    color: #4267b2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #fd1d1d;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-whatsapp {
    color: #075e54;
}

.fa-envelope {
    color: #004f9f;
}

footer a i:hover {
    transform: scale(2);
}
@media (max-width: 600px) {
}

@media (max-width: 768px) {
}
@media (max-width: 600px) {
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 768px) {
}
@media (max-width: 600px) {
}
/* Media queries */
@media (min-width: 768px) {
}
/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}

/*Estilo footer*/

/* Estilos generales para el footer */
.footer {
  text-align: center; 
  padding: 20px; 
}

.titulo {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
/* Título de los botones */
.buttons-title {
  font-size: 24px; 
  margin-bottom: 20px; 
  color: #075d8f; 
}

.buttons {
  min-width: 300px;
  display: flex;
  justify-content:center;
  gap: 20px;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #2885bb;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}