/* Estilo en general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo del body */
body {
  background-color: #e6eef8;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
/* Estilo del Nav */
nav {
  background: #5680f1;
  padding: 15px 20px;
  position: relative;
  z-index: 10;
}

nav .container {
  display: flex;
  align-items: center;
  max-width: 1200px;
}

nav .logo img {
  height: 50px; 
  margin-top: 10px;
}

nav .menu-toggle {
  display: none; 
  font-size: 24px; 
  color: #fff; 
  cursor: pointer; 
  margin-top: 5px;
}

nav .nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .nav li {
  margin-left: 50px;
  margin-top: 10px;
}

nav .nav a {
  padding: .5em .8em;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  transition: all .35s ease;
}

nav .nav a::before,
nav .nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

nav .nav a::before {
  right: 0;
  top: 0;
  border-top: 3px solid #1fcfcf;
  border-right: 3px solid #51f5f5;
  transform: translate(-100%, 50%);
}

nav .nav a::after {
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #1fcfcf;
  border-left: 3px solid #51f5f5;
  transform: translate(100%, -50%);
}

nav .nav a:hover:before,
nav .nav a:hover:after {
  transform: translate(0,0);
  opacity: 1;
}

nav .nav a:hover {
  color: hsl(182, 96%, 68%);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  nav .container {
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0 20px; 
  }

  nav .menu-toggle {
    display: block;
    margin-left: auto;
  }

  nav .nav {
    display: none; 
    flex-direction: column; 
    width: 100%; 
    text-align: center; 
    background: #5680f1; 
    position: absolute; 
    top: 100%;
    left: 0; 
    z-index: 1000;
    padding: 15px 0; 
  }

  nav .nav.nav-active {
    display: flex; 
  }

  nav .nav li {
    margin: 10px 0; 
  }
  
  nav .nav a {
    padding: .5em .8em;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    transition: all .35s ease;
  }
}
/*Estilos de las tarjetas*/

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

h2 {
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.grid-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  z-index: 1;
}

.grid-container .card {
  position: relative;
  width: 400px;
  height: 300px;
  background: #fff;
  margin: 30px 10px;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.grid-container .card .card-image {
  position:relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.grid-container .card .card-image img {
  width: 100%;
  height: 100%; 
  object-fit:fill; 
  transition: transform 0.3s ease-in-out;
}

.grid-container .card:hover .card-image {
  transform: translateY(-100%);
}

.grid-container .card .card-content {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  color: #111;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.grid-container .card .card-content h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

.grid-container .card .card-content p {
  font-size: 16px; 
}
.grid-container .card .card-content p .after-br {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 400;
  color: #333;
  font-family: 'Arial', sans-serif;
  font-style: italic;
}


.grid-container .card:hover .card-content {
  opacity: 1;
}