/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6eef8;
}
/* Estilos del Nav */
.navContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto 68% auto;
    gap: 5px;
    justify-content: center;
    align-content: center;
    background-color: #6199cf;
    align-items: center;
}
.logo {
    margin-top: 10px;
    align-content: center;
    width: 130px;
}
.logoContainer {
    justify-items: center;
}
.carousel {
    margin: 1rem auto;
}
.sectionsContainer {
    margin-left: 1rem;
}

.nav-items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}
li {
    justify-content: center;
    text-align: center;
    list-style: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}
.cartContainer {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.cartContainer img {
    width: 25px;
}

h1 {
    text-align: center;
    margin: 3rem 0;
}

.destacadosContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.card {
    width: 500px;
    height: 250px;
    justify-content: space-around;
    margin: 5rem 6rem;
}

.card:hover {
    transform: scale(1.1);
    margin-left: 2rem;
}

h2 {
    text-align: center;
    margin-top: 3rem;
}
/*Estilos del footer*/
footer {
    margin-top: 0.2rem;
}

.fa-facebook-f {
    color: #4267b2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #fd1d1d;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-whatsapp {
    color: #075e54;
}

.fa-envelope {
    color: #004f9f;
}

footer a i:hover {
    transform: scale(2);
}
