/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6eef8;
}
.nav {
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {
    background: #5680f1;
    padding: 15px 20px;
    position: relative;
    z-index: 10;
  }
  
  nav .container {
    display: flex;
    align-items: center;
    max-width: 1200px;
  }
  
  nav .logo img {
    height: 50px; 
    margin-top: 10px;
  }
  
  nav .menu-toggle {
    display: none; 
    font-size: 24px; 
    color: #fff; 
    cursor: pointer; 
    margin-top: 5px;
  }
  
  nav .nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav .nav li {
    margin-left: 50px;
    margin-top: 10px;
  }
  
  nav .nav a {
    padding: .5em .8em;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    transition: all .35s ease;
  }
  
  nav .nav a::before,
  nav .nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  nav .nav a::before {
    right: 0;
    top: 0;
    border-top: 3px solid #1fcfcf;
    border-right: 3px solid #51f5f5;
    transform: translate(-100%, 50%);
  }
  
  nav .nav a::after {
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #1fcfcf;
    border-left: 3px solid #51f5f5;
    transform: translate(100%, -50%);
  }
  
  nav .nav a:hover:before,
  nav .nav a:hover:after {
    transform: translate(0,0);
    opacity: 1;
  }
  
  nav .nav a:hover {
    color: hsl(182, 96%, 68%);
  }
  
  /* Estilos para dispositivos móviles */
  @media (max-width: 768px) {
    nav .container {
      flex-direction: row; 
      justify-content: space-between; 
      padding: 0 20px; 
    }
  
    nav .menu-toggle {
      display: block;
      margin-left: auto;
    }
  
    nav .nav {
      display: none; 
      flex-direction: column; 
      width: 100%; 
      text-align: center; 
      background: #5680f1; 
      position: absolute; 
      top: 100%;
      left: 0; 
      z-index: 1000;
      padding: 15px 0; 
    }
  
    nav .nav.nav-active {
      display: flex; 
    }
  
    nav .nav li {
      margin: 10px 0; 
    }
    
    nav .nav a {
      padding: .5em .8em;
      color: #ffffff;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      transition: all .35s ease;
    }
  }
h1 {
    text-align: center;
}
.carousel {
    margin: 1rem auto;
}

.destacadosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: auto;
    min-width: min-content;
}

.sobreNosotros {
    margin-top: 2rem;
    width: 90%;
    margin: auto;
}
.sobreNosotros h3 {
    margin: 2rem;
    text-align: center;
}
.sobreNosotros p {
    font-size: 1.5rem;

    text-align: center;
}
.card img {
    height: 300px;
    object-fit: cover;
}

h2 {
    text-align: center;
    margin-top: 3rem;
}
/*Estilos del footer*/
footer {
    margin-top: 0.2rem;
}

.fa-facebook-f {
    color: #4267b2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #fd1d1d;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-whatsapp {
    color: #075e54;
}

.fa-envelope {
    color: #004f9f;
}

footer a i:hover {
    transform: scale(2);
}

@media screen and (min-width: 280px) {
    .destacadosContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "card ";
        justify-items: center;
    }
    .card {
        width: 90%;
    }
}
@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
    .destacadosContainer {
        grid-template-columns: 1fr;
        grid-template-areas: "card  ";
        gap: 1rem;
    }
}
@media screen and (min-width: 912px) {
}
@media screen and (min-width: 1024px) {
    .destacadosContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "card card";
        gap: 1rem;
        margin-left: 1rem;
    }
}
@media screen and (min-width: 1280px) {
    .destacadosContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "card card card";
    }
}

/*Estilo footer*/

/* Estilos generales para el footer */
.footer {
  text-align: center; 
  padding: 20px; 
}

.titulo {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
/* Título de los botones */
.buttons-title {
  font-size: 24px; 
  margin-bottom: 20px; 
  color: #075d8f; 
}

.buttons {
  min-width: 300px;
  display: flex;
  justify-content:center;
  gap: 20px;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #2885bb;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}
