/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6eef8;
}
.nav {
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-link {
    display: block;
    color: white !important;
    font-size: 1.5rem;
}
.nav-item {
    display: flex;
    justify-content: center;
}
.nav-item:hover {
    font-weight: bold;
}

.navbar {
    background-color: #6199cf;
}
/* Estilos del Nav */
/* .navContainer {
    width: 100%;
    display: grid;
    grid-template-columns: auto 68% auto;
    gap: 5px;
    justify-content: center;
    align-content: center;
    background-color: #6199cf;
    align-items: center;
}
.logo {
    margin-top: 10px;
    align-content: center;
    width: 130px;
}
.logoContainer {
    justify-items: center;
}
.carousel {
    margin: 1rem auto;
}
.sectionsContainer {
    margin-left: 1rem;
}

.nav-items {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}
li {
    justify-content: center;
    text-align: center;
    list-style: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

a {
    text-decoration: none;
    color: white;
}
*/
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    text-align: center;
}
.carousel {
    margin: 1rem auto;
}

.destacadosContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin: auto;
    min-width: min-content;
}

.sobreNosotros {
    margin-top: 2rem;
    width: 90%;
    margin: auto;
}
.sobreNosotros h3 {
    margin: 2rem;
    text-align: center;
}
.sobreNosotros p {
    font-size: 1.5rem;

    text-align: center;
}
.card img {
    height: 300px;
    object-fit: cover;
}

h2 {
    text-align: center;
    margin-top: 3rem;
}
/*Estilos del footer*/
footer {
    margin-top: 0.2rem;
}

.fa-facebook-f {
    color: #4267b2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #fd1d1d;
}

.fa-linkedin {
    color: #0a66c2;
}

.fa-whatsapp {
    color: #075e54;
}

.fa-envelope {
    color: #004f9f;
}

footer a i:hover {
    transform: scale(2);
}

@media screen and (min-width: 280px) {
    .destacadosContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "card ";
        justify-items: center;
    }
    .card {
        width: 90%;
    }
}
@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
    .destacadosContainer {
        grid-template-columns: 1fr;
        grid-template-areas: "card  ";
        gap: 1rem;
    }
}
@media screen and (min-width: 912px) {
}
@media screen and (min-width: 1024px) {
    .destacadosContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "card card";
        gap: 1rem;
        margin-left: 1rem;
    }
}
@media screen and (min-width: 1280px) {
    .destacadosContainer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "card card card";
    }
}
