<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login_reg.css">
    <title>Login</title>
</head>
<body>
    <main>
        <section>
            <div class>
                <form action="#">
                   
                    <div>
                        <label>Usuario</label>
                        <input type="text">
                    </div>
                    <div>
                        <label>Contraseña</label>
                        <input type="password">
                    </div>
                     
                     <input type="submit"  value="Iniciar Sesión">
              

                </form>
                <p><a href="../views/registro.html">Registrate</a></p>
                <p><a href="../index.html">Home</a></p>
            </div>
        </section>
    </main>
    
</body>
</html>