<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login_reg.css">
    <link rel="stylesheet" href="../style.css">
    
    <title>Registrate</title>
</head>
<body>
        <header>
            <div class="navContainer">
                <div class="logoContainer">
                    <a href="./index.html" title="Inicio"><img class="logo" src="../assets/logo.png" alt="Logo de Tienda" /></a>
                </div>
                <div class="sectionsContainer">
                    <ul class="nav-items">
                        <li class="nav-item"><a href="./mujeres.html">Ropa para Mujeres</a></li>
                        <li class="nav-item"><a href="./hombres.html">Ropa para Hombres</a></li>
                        <li class="nav-item"><a href="./contacto.html">Contacto</a></li>
                    </ul>
                </div>
                <div class="cartContainer">
                    <img src="../assets/cart.svg" alt="Carrito de Compras" />
                     <li class="nav-item"><a href="./login.html">Login</a></li>
                </div>
            </div>
        </header>
    <main>
        <section>
            <div class="Contenedor">
                <div class="ContenedorForm">

                <form class="FormClass" onsubmit="submitForm(event)">
                     <div class="formGroup">
                        <label>Nombre</label>
                        <input type="text" name="name" id="name">
                    </div>
                    <div class="input_error" id="name_error"></div>

                    <div class="formGroup">
                        <label>Apellido</label>
                        <input type="text" name="lastname" id="lastname">
                    </div>
                    <div class="input_error" id="lastname_error"></div>

                    <div class="formGroup">
                        <label>Usuario</label>
                        <input type="text"name="user" id="user">
                    </div>
                    <div class="input_error" id="user_error"></div>

                    <div class="formGroup">
                        <label>Contraseña</label>
                        <input type="password"name="pass" id="pass">
                    </div>
                    <div class="input_error" id="pass_error"></div>

                    <div class="formGroup">
                        <label>Repetir Contraseña</label>
                        <input type="password" name="pass2" id="pass2">
                    </div>
                    <div class="input_error" id="pass2_error"></div>

                     <button id="btn_reg" class="btn_submit" type="submit" >Iniciar Sesión</button>
              

                </form>
                </div>


             
            </div>
        </section>
    </main>
    <script src="../js/register.js"></script>
</body>
</html>