<!-- @format -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/stylohombre.css">
    <script src="https://kit.fontawesome.com/bc63c3042f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon">
    <title>Sports</title>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <div class="logo">
                    <img src="../assets/logo.png" alt="logo">
                </div>
                <div class="menu-toggle">
                    <i class="fas fa-bars"></i> <!-- Ícono de barras para el botón de menú -->
                </div>
                <ul class="nav">
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./ropaMujer.html">Ropa de Mujer</a></li>
                    <li><a href="./ropaHombre.html">Ropa de Hombre</a></li>
                    <li><a href="./crudProductos.html">Crud</a></li>
                    <li><a href="./contact.html">Contacto</a></li>
                    <li><a href="./login.html">Login</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script>
        // Script para el menú hamburguesa
        document.querySelector('.menu-toggle').addEventListener('click', () => {
            document.querySelector('.nav').classList.toggle('nav-active');
        });
    </script>
    <main>
        <h2>NUESTROS DESTACADOS PARA MUJERES</h2>
        <div class="grid-container" id="cardContainer">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/Buzocanguro.jpg" alt="Imagen 1">
                </div>
                <div class="card-content">
                    <h3>Buzo Activa</h3>
                    <p>Este buzo es ideal para realizar ejercicios al aire libra, 100%algodon respirable<br><span
                            class="after-br">Precio promocional $ 335.000</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/calza.jpg" alt="Imagen 2">
                </div>
                <div class="card-content">
                    <h3>Calza Magestic</h3>
                    <p>Calza que se adapta el moviento, apto maratones <br><span class="after-br">Precio promocional $
                            55.000</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/campera.jpg" alt="Imagen 3">
                </div>
                <div class="card-content">
                    <h3>Campera Divine</h3>
                    <p>Esta campera es termica ideal para baja temperas <br><span class="after-br"> promocional $
                            149.000</span></p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/gorras.jpg" alt="Imagen 4">
                </div>
                <div class="card-content">
                    <h3>Gorras fit</h3>
                    <p>accesorio infaltable, se adapta perfectamente<br><span class="after-br">Precio promocional $
                            151.000</span> </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="titulo">
            <h3 class="buttons-title">Conéctate con nosotros</h3>
        </div>
        <div class="buttons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google-plus"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
    </footer>
    <script src="../js/getProductos.js" type="module"></script>
</body>

</html>