/** FORMATO DE PAGINA DE CONTACTO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6eef8;
}


/* Estilos del contenedor del menú de navegación */


.container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 80% auto;
    gap: 5px;
    justify-content: center;
    align-content: center;
    background-color: #6199cf;
}
.logo {
    margin: 10px;
    align-content: center;
    width: 130px;
}
.logoContainer {
    justify-items: center;
}
.header-menubar {
    margin-left: 1rem;
}
.menubar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}
li {
    justify-content: center;
    text-align: center;
    list-style: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8rem;
    margin-top: 0.5rem;
}
a {
    text-decoration: none;
    color: white;
}
.cartContainer img {
    margin-top: 15px;
    width: 30px;
}
a, button {
    cursor: pointer;
}
button {
    padding: 8px 16px;
    background-color: #8b89f7;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/*Estilo del main*/

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


/*seccion mensaje*/


.seccionmensaje {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 20px 0;
    background-color: #ffffff;   
}
h1  {
    animation-duration: 3s;
    animation-name: slidein;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mensaje {
    animation-duration: 3s;
    animation-name: slidein;
    margin-top: 10px;
    font-size: x-large;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.contenido-inferior {
    display: flex;
    flex-wrap: wrap;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}


/* Estilos para la secciónformulario  que seria todo*/
.seccionformulario {
    background-image: url("./imagenes/geometric.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex: 1 1 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid silver;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
}

 /*seccion datos de contacto*/
.contacto {
    flex: 1 1 100%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid silver;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    background: url("./imagenes/mujer.jpeg") no-repeat;
    background-size: contain;
    background-position: right center;
    background-color: white;
    width: 100%;
    height: 100%;
}
h2{
    font-size: xx-large;
    margin-bottom: 10px;
}
p{
    font-size: medium;
}
/* Media query para dispositivos pequeños */
@media (max-width: 600px) {
    .contacto {
        height: 30vh; /* Reducir la altura en dispositivos más pequeños */
    }
}

/* Estilos base para el contenedor de imágenes */
.contenedor-imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Estilos para las imágenes dentro del contenedor */
.contenedor-imagenes img {
    width: auto;
    max-width: 45%;
    height: auto;
    margin: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
    .contenedor-imagenes {
        flex-direction: column; /* Alinea los elementos verticalmente en pantallas pequeñas */
    }

    .contenedor-imagenes img {
        max-width: 100%; /* Permite que cada imagen ocupe todo el ancho del contenedor */
        margin: 5px 0; /* Ajusta los márgenes para pantallas pequeñas */
    }
}


/* aca empieza laparte del formulario y fondo */
/*seccion formulario*/


/* Estilos para los títulos h3 */
h3 {
    font-size: xx-large;
    margin-bottom: 10px;
}

/* Estilos adicionales para los labels */
label {
    text-shadow: 1px 1px 1px #173cdfec;
    padding: 5px;
    font-size: x-large;
}

/* Estilos para el formulario */
.formulario {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-size: large; /* Si cambias el tamaño de esto, cambia el título y la preferencia de horario */
}

/* Estilos para la lista de horarios de contacto */
.horario-contacto {
    list-style: none;
    padding: 0;
}

/* Estilos para los fieldsets */
fieldset {
    margin-bottom: 20px;
}

/* Estilos para los labels dentro del formulario */
.formulario label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

/* Estilos para los inputs, selects y textarea dentro del formulario */
.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para el botón dentro del formulario */
.formulario button {
    width: 50%;
    padding: 10px;
    background-color: #398f3c;
    color: white;
    border: 2px;
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    cursor: pointer; /* Cursor indica que es clickable */
    margin: 10px auto;
    display: block;
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave para hover */
}

/* Estilos para el botón al pasar el ratón */
.formulario button:hover {
    background-color: #7db880; /* Color más oscuro al pasar el ratón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más prominente al pasar el ratón */
}

/* Estilos para el textarea dentro del formulario */
.formulario textarea {
    width: 100%;
    height: 200px;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

/* Media queries */
@media (min-width: 768px) {
    .formulario label {
        flex-basis: 25%;
    }
    .formulario input,
    .formulario select,
    .formulario textarea {
        flex-basis: 70%;
    }

    .contenido-inferior {
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .contenido-inferior {
        flex-direction: column; /* Cambia a dirección de columna en pantallas más pequeñas */
    }
}


/*Estilos del footer*/
footer {
    background-color: #a7d2dd;
    width: 100%;
    height: 220px;
    padding: 20px 100px;
}

.footer-item-container {
   display: flex;
   justify-content: space-evenly;
   flex-flow: row wrap;
   align-items: baseline;
}

.footer-item{
   h3{
       font-size: 16px;
       text-align: center;
    }

   ul{
        list-style: none; 
   }
   li{
        line-height: 0.5;
   }
   a {
       text-decoration: none;
       cursor: pointer;
       color: black;
       font-size: 14px;
   }
   
   a:hover {
       color: rgb(86, 131, 187);
   }
} 

.fa-brands{
    font-size: 20px;
    letter-spacing: 15px;
    align-content: center;
}

.contac-link{
    font-size: 20px;
}

address{
   background-color:  #e7f8f8c1;
   width: 100%;
   height: 50px;
   font-style: italic;
   font-size: small;
   text-align: center;
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 768px) {
    footer {
        padding: 15px 2%;
    }

    .footer-item-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-item {
        margin-bottom: 10px; 
    }

    .fa-brands {
        letter-spacing: 10px;     }

    address {
        font-size: 0.8rem; /* Texto más pequeño para pantallas pequeñas */
    }
}
